@media (--pc) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1300px;
    z-index: 100;
    &-wrap {
      display: flex;
      align-items: center;
      padding: 0 10px;
    }
    &-logo {
      display: block;
      position: relative;
      perspective: 1px;
      width: 220px;
      padding: 28px 0 61px;
      img {
        display: block;
        width: 155px;
        margin: 0 auto;
      }
      &:after {
        content: '';
        display: block;
        width: 220px;
        height: 220px;
        background: #b8a47e;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: -1;
        transform: translate(-50%, 0);
      }
    }
    &-nav {
      padding-left: 38px;
      padding-bottom: 10px;
    }
    &-menu {
      display: flex;
      li {
        margin-left: 95px;
        font-family: $mon;
        font-weight: 700;
        a {
          color: #fff;
          display: block;
          letter-spacing: -0.1em;
        }
        .item-link--black {
          color: #000;
        }
      }
    }
  }
}
@media (--sp) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    &-wrap {
      padding: 0 vw(30);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-logo {
      display: block;
      position: relative;
      perspective: 1px;
      width: vw(180);
      padding: vw(15) 0 vw(40);
      img {
        display: block;
        width: vw(120);
        margin: 0 auto;
      }
      &:after {
        content: '';
        display: block;
        width: vw(180);
        height: vw(180);
        background: #b8a47e;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: -1;
        transform: translate(-50%, 0);
      }
    }
    &-nav {
      position: fixed;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100svh;
      background: #fff;
      transition: transform 0.3s ease-out;
      padding: vw(50) vw(50);
      .header-scroll {
        position: relative;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
        padding: vw(50) 0;
      }
      .header-menu {
        li {
          &:not(:last-child) {
            margin-bottom: vw(15);
          }
          a {
            display: block;
            font-size: vw(20);
          }
        }
      }
      &.active {
        transform: translateX(-100%);
      }
    }
  }
  .icon-menu {
    width: vw(70);
    height: vw(70);
    position: relative;
    background: #ddd;
    cursor: pointer;
    transition: background 0.3s, opacity 0.2s;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-inner {
      display: block;
      position: absolute;
      width: vw(40);
      height: vw(2);
      min-height: 1px;
      transform: translateY(vw(-12));
      transition: transform .3s ease, top .3s ease;
      background: #000;
      &::before,&::after {
        content: "";
        display: block;
      }
      &::before {
        top: vw(12);
        position: absolute;
        width: vw(40);
        height: vw(2);
        min-height: 1px;
        transition: opacity .1s ease 0.3s, visibility .1s ease 0.3s;
        background: #000;
      }
      &::after {
        top: vw(24);
        position: absolute;
        width: vw(40);
        height: vw(2);
        min-height: 1px;
        transition: transform .3s ease, top .3s ease;
        background: #000;
      }
    }
    &.open {
      .icon-inner {
        transform: rotate(45deg);
        &:before {
          opacity: 0;
          visibility: hidden;
          transition: opacity .1s ease, visibility .1s ease;
        }
        &:after {
          transform: rotate(-90deg);
          top: 50%;
        }
      }
    }
  }
}