@import 'swiper/swiper-bundle';

@media (--pc) {
  .mv {
    display: flex;
    &-nav {
      width: 230px;
      flex-shrink: 0;
      position: relative;
      padding-top: 195px;
      &__arrow {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: 2px;
          height: 38px;
          background: #b8a47e;
          margin: 14px auto 0;
        }
        .swiper-button {
          &-next , &-prev {
            position: static;
            transform: none;
            margin: 0 auto;
            width: 24px;
            height: 15px;
            &:after {
              display: none;
            }
          }
          &-next {
            background: url('../images/common/arrow_down.svg') center / 99% no-repeat;
            margin-top: 34px;
          }
          &-prev {
            background: url('../images/common/arrow_up.svg') center / 99% no-repeat;
          }
        }
      }
      .swiper-pagination {
        display: block;
        position: static;
        padding:8px 0 0;
        &-bullet {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          font-weight: 700;
          color: #878787;
          font-size: rem(18);
          margin: 7px auto !important;
          background: transparent;
          opacity: 1 !important;
          &-active {
            width: 78px;
            height: 78px;
            color: #000;
            font-size: rem(40);
            font-weight: 400;
            margin: 23px  auto !important;
            box-shadow: 13px 0 41px rgba(0, 0, 0, 0.21);
          }
        }
      }
    }
    &-slider {
      width: 100%;
    }
    &-item {
      height: 100vh;
      display: grid;
      grid-template-columns: 430px 740px 1fr;
      &__img {
        height: 100%;
        grid-column: 2/4;
        grid-row: 1/2;
      }
      &__cont {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000;
        font-family: $mon;
        padding: 94px 0 0 117px;
      }
      &__sub {
        font-weight: 400;
        color: #000;
        font-size: rem(22);
      }
      &__copy {
        font-weight: 700;
        color: #000;
        font-size: rem(50);
        letter-spacing: 0.24em;
        margin-top: 15px;
      }
      &__link {
        margin-top: 55px;
        display: inline-flex;
        align-items: center;
        color: #b8a47e;
        font-weight: 400;
        font-size: rem(19);
        margin-left: 102px;
        &:before {
          content: '';
          display: block;
          width: 40px;
          height: 1px;
          background: #b8a47e;
          margin-right: 15px;
        }
        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 16px;
          margin-left: 15px;
          background: url('../images/common/arrow_right.svg') center / 99% no-repeat;
          transition: transform 0.3s ease-out;
        }
        &:hover {
          &:after {
            transform: translateX(5px);
          }
        }
      }
    }
  }
  .block-item {
    padding: 194px 0;
    display: grid;
    /* align-items: center; */
    align-items: start;
    grid-template-columns: 155fr 702fr 428px 466px 155fr;
    &__img {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      height: 573px;
    }
    &__cont {
      margin-top: 107px;
      grid-column: 3 / 5;
      grid-row: 1 / 2;
      display: grid;
      align-items: center;
      grid-template-columns: 428fr 466fr;
      border: 3px solid #b8a47e;
      border-bottom: 0;
      position: relative;
      padding: 53px 0 26px;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background: linear-gradient(230deg, #b8a47e 116px, transparent 116px, transparent 265px, #b8a47e 265px);
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:after {
        content: '';
        display: block;
        width: 16px;
        height: 79px;
        background: url('../images/top/block_arrow.png') center / 99% no-repeat;
        position: absolute;
        bottom: -76px;
        right: 240px;
      }
      .item-ttl  {
        text-align: right;
        color: #fff;
        padding: 0 13px 60px;
        &__copy {
          display: block;
          font-size: rem(50);
          letter-spacing: 0.24em;
        }
        &__sub {
          margin-top: 12px;
          font-size: rem(22);
          font-weight: 400;
          display: block;
        }
      }
      .item-text {
        font-family: $mon;
        font-weight: 400;
        line-height: 2.67;
        padding: 0 40px;
      }
    }
    &--odd {
      .block-item__cont .item-ttl__copy {
        transform: translateX(-50%);
        width: 200%;
      }
    }
    &--reverse {
      background: #ededed;
      padding: 182px 0;
      grid-template-columns: 155fr 466px 448px 682fr 155fr;
      .block-item__img {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
      }
      .block-item__cont {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        grid-template-columns: 466fr 428fr;
        .item-text {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          padding-left: 64px;
        }
        &:before {
          background: linear-gradient(90deg, #b8a47e 155px, transparent 155px, transparent 347px, #b8a47e 347px);
        }
        &:after {
          left: 244px;
        }
      }
      .block-item__cont {
        padding: 27px 0 12px;
        position: relative;
        .item-ttl {
          &:after {
            content: '';
            display: block;
            width: 319px;
            height: 22px;
            background: url('../images/top/navy_salt.png') center / 99% no-repeat;
            position: absolute;
            top: -25px;
            left: 25px;
          }
        }
        .item-ttl__copy {
          width: 182%;
        }
      }
    }
  }
  .section {
    &-ttl {
      font-size: rem(60);
      font-weight: 700;
      letter-spacing: 0.24em;
      text-align: center;
      margin-bottom: 92px;
      padding-right: 10px;
      &__sub {
        font-size: rem(22);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.363;
        text-align: left;
        margin-top: 40px;
        &:before {
          content: '';
          display: block;
          width: 138px;
          height: 1px;
          background: #000;
          margin-right: 10px;
        }
        span {
          display: block;
          background: #e1d9c9;
          width: 550px;
          padding: 0 5px;

        }

      }
    }
  }
  .collection {
    position: relative;
    z-index: 2;
    padding: 180px 0 210px;
    &-list {
      padding-right: 115px;
      counter-reset: num;
    }
    .item {
      display: grid;
      counter-increment: num;
      &:before {
        content: '0' counter(num);
        display: block;
        font-size: rem(60);
        letter-spacing: 0.24em;
        font-family: $mon;
        font-weight: 700;
        line-height: 60px;
        color: rgba(56, 56, 56, 0.53);
        position: relative;
        margin-bottom: -20px;
        grid-column: 1/ 5;
        z-index: 3;
      }
      &__img {
        display: flex;
        background: #fff;
        &--big {
          padding: 20px;
          li {
            padding: 20px;
          }
        }
        &--small {
          padding: 13px;
          li {
            padding: 13px;
          }
        }
      }
      &__cont {
        .item__ttl {
          font-size: rem(27);
          margin-bottom: 25px;
          letter-spacing: 0.24em;
        }
        .item__sub {
          font-size: rem(27);
          font-weight: 700;
          letter-spacing: 0.24em;
          font-family: $fontTtl;
          margin-bottom: 9px;
          span {
            display: block;
            padding: 5px 26px 14px;
            background: linear-gradient(180deg, transparent 20px, rgba(#b8a47e, 0.42) 20px);
          }
        }
        .item__text {
          margin-bottom: 18px;
        }
      }
      &.item01 {
        grid-template-columns: 806px 125px auto;
        grid-template-rows: auto auto 148px auto;
        .item__img {
          position: relative;
          &--big {
            grid-row: 2/4;
            grid-column: 1/3;
          }
          &--small {
            grid-row: 3/5;
            grid-column: 2/4;
            &:after {
              content: '';
              display: block;
              width: 171px;
              height: 138px;
              border-left: 2px solid #000;
              position: absolute;
              top: -103px;
              left: 204px;
              background: url('../images/top/logo_2.png') right top / 155px no-repeat;
            }
          }
        }
        .item__cont {
          &:before {
            content: '';
            display: block;
            width: 1px;
            height: 68px;
            background: #000;
            margin-bottom: 20px;
          }
          &01 {
            grid-row: 2/3;
            grid-column: 3/4;
            padding: 100px 0 0 70px;
          }
          &02 {
            grid-row: 3/5;
            grid-column: 1/2;
            padding: 64px 115px 20px 155px;
            position: relative;
            z-index: 4;
            &:before {
              height: 138px;
              margin: 0 0 11px 40px;
            }
            .item__text, .item__btn {
              padding-left: 194px;
            }
          }
        }
      }
      &.item02 {
        padding-left: 162px;
        position: relative;
        grid-template-columns: 577px auto 476px;
        z-index: 2;
        &:before {
          text-align: center;
          grid-column: 1/4;
        }
        .item__cont {
          grid-column: 3/4;
          padding: 38px 0 0;
        }
      }
      &.item03 {
        align-items: center;
        position: relative;
        z-index: 1;
        margin-top: -159px;
        grid-template-columns: 1fr 150px 530px 42px;
        &:before {
          text-align: right;
        }
        .item__img {
          grid-column: 2 / 4;
          grid-row: 2/3;
        }
        .item__cont {
          grid-column: 1/3;
          grid-row: 2/3;
          text-align: center;
        }
        .item__ttl {
          padding: 103px 0 0 140px;
          margin: 0;
          font-size: rem(60);
          color: #fff;
          letter-spacing: 0.36em;
          text-shadow: 20px 0 19px rgba(0,0,0, 0.27);
        }
      }
    }
    &-modal {
      display: grid;
      grid-template-columns: repeat(6, 1fr) 214px;
      gap: 30px;
      margin: 63px 170px 0 -110px;
      li {
        cursor: pointer;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: url('../images/common/arrow_plus.svg') center / 45px no-repeat rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      .modal_last {
        margin-top: -400px;
      }
    }
  }
  .img_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-out, visibility .3s ease-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .modal_inner {
      position: relative;
      background: #fff;
      max-height: 90vh;
      border-radius: 1px;
    }
    .modal_content {
      padding: 0  5.9px;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }

    .modal_after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(44, 59, 73, 0.8);
      z-index: -1;
    }
    .modal_close {
      cursor: pointer;
      line-height: 1;
      position: absolute;
      top: 3px;
      right: 3px;
      width: 40px;
      height: 40px;
      text-indent: -999px;
      background: url('../images/common/arrow_close.png') center no-repeat;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
@media (--sp) {
  .mv {
    display: flex;
    &-nav {
      width: vw(100);
      flex-shrink: 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__arrow {
        position: relative;
        &:after {
          content: '';
          display: block;
          width: vw(2);
          height: vw(38);
          background: #b8a47e;
          margin: vw(14) auto 0;
        }
        .swiper-button {
          &-next , &-prev {
            position: static;
            transform: none;
            margin: 0 auto;
            width: vw(24);
            height: vw(15);
            &:after {
              display: none;
            }
          }
          &-next {
            background: url('../images/common/arrow_down.svg') center / 99% no-repeat;
            margin-top: vw(34);
          }
          &-prev {
            background: url('../images/common/arrow_up.svg') center / 99% no-repeat;
          }
        }
      }
      .swiper-pagination {
        display: block;
        position: static;
        padding:vw(8) 0 0;
        &-bullet {
          display: flex;
          align-items: center;
          justify-content: center;
          width: vw(30);
          height: vw(30);
          font-weight: 700;
          color: #878787;
          font-size: vw(18);
          margin: vw(7) auto !important;
          background: transparent;
          opacity: 1 !important;
          &-active {
            width: vw(60);
            height: vw(60);
            color: #000;
            font-size: vw(30);
            font-weight: 400;
            margin: vw(23)  auto !important;
            box-shadow: vw(13) 0 vw(41) rgba(0, 0, 0, 0.21);
          }
        }
      }
    }
    &-slider {
      width: 100%;
    }
    &-item {
      height: 100vh;
      display: grid;
      grid-template-columns: vw(200) vw(400) 1fr;
      &__img {
        height: 100%;
        grid-column: 2/4;
        grid-row: 1/2;
      }
      &__cont {
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #000;
        font-family: $mon;
        padding: vw(94) 0 0 vw(0);
      }
      &__sub {
        font-weight: 400;
        color: #000;
        font-size: vw(22);
      }
      &__copy {
        font-weight: 700;
        color: #000;
        font-size: vw(35);
        letter-spacing: 0.24em;
        margin-top: vw(15);
      }
      &__link {
        margin-top: vw(25);
        display: inline-flex;
        align-items: center;
        color: #b8a47e;
        font-weight: 400;
        font-size: vw(19);
        margin-left: vw(30);
        &:before {
          content: '';
          display: block;
          width: vw(40);
          height: vw(1);
          background: #b8a47e;
          margin-right: vw(15);
        }
        &:after {
          content: '';
          display: block;
          width: vw(10);
          height: vw(16);
          margin-left: vw(15);
          background: url('../images/common/arrow_right.svg') center / 99% no-repeat;
        }
      }
    }
  }
  .block-item {
    padding: vw(100) 0;
    &__img {
      height: vw(573);
    }
    &__cont {
      border: vw(2) solid #b8a47e;
      border-bottom: 0;
      position: relative;
      padding: vw(30) 0 vw(26);
      margin: vw(30) vw(30) 0;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: vw(2);
        background: linear-gradient(230deg, #b8a47e vw(70), transparent vw(70), transparent vw(150), #b8a47e vw(150));
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &:after {
        content: '';
        display: block;
        width: vw(16);
        height: vw(40);
        background: url('../images/top/block_arrow.png') center bottom / 99% no-repeat;
        position: absolute;
        bottom: vw(-36);
        right: vw(140);
      }
      .item-ttl  {
        padding: 0 vw(20) vw(15);
        &__copy {
          display: block;
          font-size: vw(25);
          letter-spacing: 0.24em;
        }
        &__sub {
          margin-top: vw(12);
          font-size: vw(18);
          font-weight: 400;
          display: block;
        }
      }
      .item-text {
        font-family: $mon;
        font-weight: 400;
        line-height: 2.67;
        padding: 0 vw(20);
      }
    }
    &--reverse {
      background: #ededed;
      grid-template-columns: 155fr 126fr 428fr 702fr 155fr;
      .block-item__img {
        grid-column: 3 / 6;
        grid-row: 1 / 2;
      }
      .block-item__cont {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
        grid-template-columns: 466fr 428fr;
        .item-text {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }
        &:before {
          background: linear-gradient(90deg, #b8a47e vw(70), transparent vw(70), transparent vw(150), #b8a47e vw(150));
        }
        &:after {
          left: vw(97);
        }
      }
    }
  }
  .section {
    &-ttl {
      font-size: vw(40);
      font-weight: 700;
      letter-spacing: 0.24em;
      text-align: center;
      margin-bottom: vw(40);
      &__sub {
        font-size: vw(22);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1.363;
        text-align: left;
        margin-top: vw(40);
        &:before {
          content: '';
          display: block;
          width: vw(138);
          height: 1px;
          background: #000;
          margin-right: vw(10);
        }
        span {
          display: block;
          background: #e1d9c9;
          width: vw(400);
          padding: 0 vw(5);

        }

      }
    }
  }
  .collection {
    padding: vw(80) 0 vw(100);
    &-list {
      counter-reset: num;
    }
    .item {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      counter-increment: num;
      &:not(:last-child) {
        margin-bottom: vw(40);
      }
      &:before {
        content: '0' counter(num);
        display: block;
        font-size: vw(60);
        letter-spacing: 0.24em;
        font-family: $mon;
        font-weight: 700;
        grid-row: 1/2;
        grid-column: 1/4;
        line-height: vw(60);
        position: relative;
        z-index: 3;
        color: rgba(56, 56, 56, 0.53);
      }
      &__img {
        display: flex;
        justify-content: center;
        background: #fff;
        margin: 0 vw(-10) vw(20);
        grid-column: 1/4;
        li {
          padding: vw(10);
        }
        &--small {
          margin-top: vw(30);
        }
      }
      &__cont {
        grid-column: 1/4;
        .item__ttl {
          font-size: vw(27);
          margin-bottom: vw(20);
          letter-spacing: 0.24em;
        }
        .item__sub {
          font-size: vw(24);
          margin-bottom: vw(20);
        }
        .item__btn {
          margin-top: vw(20);
        }
      }
      &.item02 {
        position: relative;
        grid-template-columns: vw(568) auto;
        z-index: 2;
        &:before {
          text-align: center;
        }
        .item__cont {
          grid-column:  1 / 4;
        }
      }
      &.item03 {
        align-items: center;
        position: relative;
        z-index: 1;
        &:before {
          text-align: right;
          grid-column: 1 / 4;
        }
        .item__img {
          grid-column: 2/4;
          grid-row: 2/3;
          position: relative;
          z-index: 1;
        }
        .item__cont {
          grid-column: 1/3;
          grid-row: 2/3;
          text-align: center;
          z-index: 2;
          position: relative;
        }
        .item__ttl {
          font-size: vw(30);
          padding-right: vw(90);
          color: #fff;
          text-shadow: vw(20) 0 vw(19) rgba(0,0,0, 0.27);
        }
      }
    }
    &-modal {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: vw(30);
      margin-top: vw(20);
      li {
        cursor: pointer;
        position: relative;
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background:  rgba(0, 0, 0, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
          transition: opacity 0.3s ease-out;
        }
      }
      .modal_last {
        grid-column: 4/5;
        grid-row: 1/3;
        margin-top: vw(-100);
        opacity: 0.41;
      }
    }
  }
  .img_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    perspective: 1px;
    transition: opacity .3s ease-out, visibility .3s ease-out;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .modal_inner {
      position: relative;
      background: #fff;
      padding: 5.6px 0 6px 0;
      max-height: 90vh;
      border-radius: 1px;
    }
    .modal_content {
      padding: 0  5.9px;
      height: 100%;
      overflow: hidden;
      overflow-y: auto;
    }

    .modal_after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(44, 59, 73, 0.8);
      z-index: -1;
    }
    .modal_close {
      cursor: pointer;
      line-height: 1;
      position: absolute;
      top: 3px;
      right: 3px;
      width: vw(40);
      height: vw(40);
      text-indent: -999px;
      background: url('../images/common/arrow_close.png') center no-repeat;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
}
