.footer-top
  a.footer-logo(href="/")
    img(src="./assets/images/common/logo.png" alt="")
  ul.footer-menu
    li: a(class="item-link" href="") FINDA
    li: a(class="item-link" href="") STORE
    li: a(class="item-link" href="") SIZING
    li: a(class="item-link" href="") CARE
    li: a(class="item-link" href="") WATCH
  dl.footer-address
    dt Sebazzo Ltd, Unit 3F2
    dd Zetland House<br>5-25 Scrutton Street<br>London EC2A 4HJ

  .footer-contact
    h3.footer-contact__ttl.font-ttl EMAIL NETWSLETTERS 
    p Sign up for new TANNER GOODS content, updates, surveys &amp; offers.
    form(class="footer-contact__form" action="" method="post")
      input(type="input" placeholder="")
      button(type="submit")
        span.icon-arrow
.footer-main
  p.footer-copy
    small &copy; TANNER GOODS PORTLAND ORE 2016
  ul.footer-social
    li: a(class="item-link" href="" target="_blank") facebtook
    li: a(class="item-link active" href="" target="_blank") pinterest
    li: a(class="item-link" href="" target="_blank") twitter
    li: a(class="item-link" href="" target="_blank") instagram