.header-wrap.effect
  a.header-logo(href="/")
    img(src="./assets/images/common/logo.png" alt="PORTLAND ORE. TANNER GOODS")
  nav.header-nav#header-nav
    .header-scroll
      ul.header-menu
        li: a(class="item-link item-link--black active" href="") NAVY TSALT
        li: a(class="item-link item-link--black" href="") VOYAGER
        li: a(class="item-link" href="") DRIFTER
        li: a(class="item-link" href="") COLLECTION
        li: a(class="item-link" href="") CONTACT
  .icon-menu.show_sp#trigger
    .icon-inner